.w-100 {
  width: 100%;
}

.w-text {
  color: #ffffff;
}

body {
  background-color: #222222;
}

.main-image {
  height: 1101px;
  width: 100%;
}

.marvel-logo {
  width: 600px;
  height: 290px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 780;
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
}

.cards-container {
  margin: 0 auto;
  margin-top: 305px;
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 64px;
  row-gap: 105px;
}

.card-container {
  position: relative;
  width: 252px;
  height: 369px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card-image {
  width: 216px;
  height: 324px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 87;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card-horizontal-rule {
  position: absolute;
  width: 216px;
  height: 1px;
  background: #ffffff;
  top: -55;
}

.card-text {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 21px;
}

.nav-wrapper {
  display: flex;
  justify-content: end;

  position: absolute;
  left: 50.5%;
}

.navigation-container {
  width: 648px;
  height: 72px;
  display: flex;
  gap: 18px;
  margin-top: 110px;
  margin-bottom: 234px;
}

.arrow {
  width: 32.4px;
  height: 32.4px;
  align-self: center;
  margin-top: 50px;
}

.number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;
  color: #7e7e7e;
  position: relative;
  padding: 1rem 1rem;
}

.active-number {
  background: #7e7e7e;
  border-radius: 30px;
  color: #000000;
}
